@model App.Models.VMModels.VMNewsModel
@{
    ViewData["Title"] = "Edit News";
}

<div class="col-12">
    <div class="page-title-box d-flex align-items-center justify-content-between">
        <h4 class="mb-0 font-size-18">Edit News</h4>

        <div class="page-title-right">
            <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a asp-action="" asp-area="admin" asp-controller="dashboard">Dashboard</a></li>
                <li class="breadcrumb-item"><a asp-action="" asp-area="admin" asp-controller="news">News</a></li>
                <li class="breadcrumb-item active">Edit News</li>
            </ol>
        </div>

    </div>
</div>
<form class="w-100 row" method="post" asp-action="edit" asp-area="admin" asp-controller="news" enctype="multipart/form-data">

    <div class="col-8">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
        <div class="card">
            <h5 class="card-header">Edit News</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Featured Image</label>
                            <div class="file-upload">
                                <img src="@Url.Content(string.IsNullOrEmpty(Model.FeaturedImage) == false ? Model.FeaturedImage : "back/No_Image_Available.jpg")" id="imgFeaturedImage" />
                                <!--place input file last !-->
                                @if (string.IsNullOrEmpty(Model.FeaturedImage) == false)
                                {
                                    <input type="file" id="filePostImage" class="form-control image_preview" preview="#imgFeaturedImage" asp-for="Image">
                                }
                                else
                                {
                                    <input type="file" id="filePostImage" class="form-control image_preview" preview="#imgFeaturedImage" asp-for="Image" required>
                                }

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Video URL</label>
                            <input type="text" class="form-control" placeholder="Video URL" asp-for="VideoURL" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Breaking News</label>
                            <br>
                            <input type="checkbox" id="chkIsPublished" class="k_switch" asp-for="IsBreaking" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Parent</label>
                    @Html.DropDownListFor(m => m.CategoryId, new SelectList(ViewBag.Categories, "Id", "CategoryName"), "-- Please Select --", new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label for="simpleinput">Name</label>
                    <input type="text" id="simpleinput" class="form-control" placeholder="Enter category name" asp-for="Title" required>
                </div>
                <div class="form-group">
                    <label>Short Description</label>
                    <textarea asp-for="ShortDescription" class="form-control" placeholder="Enter short description" required></textarea>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea asp-for="Description" id="news-description" class="k_editor" placeholder="Enter short description" required></textarea>
                </div>

            </div>
        </div>

    </div>

    <div class="col-4">

        <div class="card">
            <h5 class="card-header">Make Sure</h5>
            <div class="card-body">
                <div class="form-group">
                    <label>Publish</label>
                    <br>
                    <input type="checkbox" id="chkIsPublished" class="k_switch" asp-for="IsPublished" />
                </div>
                <a asp-action="" asp-area="admin" asp-controller="news" class="btn btn-danger waves-effect waves-light">Back</a>
                <button type="submit" class="btn btn-success waves-effect waves-light float-right" onclick="SetCheckboxValue()">Update</button>
            </div>
        </div>

        <div class="card">
            <h5 class="card-header">Categories</h5>
            <div class="card-body">
                @foreach (var category in ViewBag.Categories)
                {
                    <div class="custom-control custom-checkbox mb-1">
                        <input type="checkbox" class="custom-control-input" id="chkCategory_@category.Id" name="categories" value="@category.Id">
                        <label class="custom-control-label" for="chkCategory_@category.Id">@category.CategoryName</label>
                    </div>

                    @foreach (var child in category.ChildCategory)
                    {
                        <div class="form-group child-group mb-1">
                            <div class=" custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="chkCategory_@child.Id" name="categories" value="@child.Id">
                                <label class="custom-control-label" for="chkCategory_@child.Id">@child.CategoryName</label>
                            </div>

                            @foreach (var leave in child.ChildCategory)
                            {
                                <div class="form-group child-group mb-1">
                                    <div class=" custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="chkCategory_@leave.Id" name="categories" value="@leave.Id">
                                        <label class="custom-control-label" for="chkCategory_@leave.Id">@leave.CategoryName</label>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                }

                @Html.HiddenFor(m => m.Categories, new { @id = "catListValues" })

            </div>
        </div>

        <div class="card">
            <h5 class="card-header">Tags</h5>
            <div class="card-body">
                @foreach (var tag in ViewBag.tags)
                {
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="chkTag_@tag.Id" name="tags" value="@tag.Id">
                        <label class="custom-control-label" for="chkTag_@tag.Id">@tag.TagName</label>
                    </div>
                }

                @Html.HiddenFor(m => m.Tags, new { @id = "tagListValues" })

            </div>
        </div>



    </div>
</form>
<script type="text/javascript">

    function SetCheckboxValue(arg) {

        var categories = ""
        //Iterating the collection of checkboxes which checked marked
        $('input[name=categories]').each(function () {
            if (this.checked) {
                categories.push($(this).val());
                //assign set value to hidden field
                $('#catListValues').val(categories);
            }
        });


        var tags = ""
        //Iterating the collection of checkboxes which checked marked
        $('input[name=tags]').each(function () {
            if (this.checked) {
                tags.push($(this).val())
                //assign set value to hidden field
                $('#tagListValues').val(tags);
            }
        });
    }

    $(document).ready(function () {

        if (@Model.Categories.Length > 0) {
            var categories = "@Model.Categories[0]";
            var listOfCat = categories.split(",");
            for (c = 0; c < categories.length; c++) {

                $("#chkCategory_" + listOfCat[c]).prop("checked", true);
            }
        }


        if (@Model.Tags.Length > 0) {
            var tags = "@Model.Tags[0]";
            var listOfTags = tags.split(",");

            for (c = 0; c < listOfTags.length; c++) {
                $("#chkTag_" + listOfTags[c]).prop("checked", true);
            }
        }

    })
</script>